.primary_btn {
    padding: 18px 10px;
    background-color: #000;
    color: #fff;
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
}

.outline_btn {
    padding: 18px 10px;
    border: 1px solid #000;
    color: #000;
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    font-size: 16px;
    background-color: #fff;
    width: 100%;
    cursor: pointer;
}

