.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    justify-content: end;
}

.top_btn {
    display: flex;
    gap: 32px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 24px;
}

.contact_form form {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.input_holder {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.input_holder input{
    height: 40px;
    padding: 0 8px; 
}

.input_holder label {
    font-size: 14px;
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: #fff;
    padding: 0 10px;
}